body {
      display: flex;
      flex-direction: column;
}

main {
  flex: 1 0 auto;
}

video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -9;
}

.login {
  margin-top: 200px;
}

.moved{
  position:relative;
  margin-left: 200px!important;
}

/* label focus color */
.input-field input[type=text]:focus + label {
color: #001f1f!important;
}
.input-field input[type=email]:focus + label {
  color: #001f1f!important;
  }
  .input-field input[type=number]:focus + label {
    color: #001f1f!important;
    }
/* label underline focus color */
.input-field input[type=text]:focus {
border-bottom: 1px solid #001f1f!important;
box-shadow: 0 1px 0 0 #001f1f!important;
}
/* valid color */
.input-field input[type=text].valid {
border-bottom: 1px solid #001f1f!important;
box-shadow: 0 1px 0 0 #001f1f!important;
}
/* invalid color */
.input-field input[type=text].invalid {
border-bottom: 2px solid orange!important;
box-shadow: 0 1px 0 0 #001f1f!important;
}

/* label underline focus color */
.input-field input[type=email]:focus {
  border-bottom: 1px solid #001f1f!important;
  box-shadow: 0 1px 0 0 #001f1f!important;
  }
  /* valid color */
  .input-field input[type=email].valid {
  border-bottom: 1px solid #001f1f!important;
  box-shadow: 0 1px 0 0 #001f1f!important;
  }
  /* invalid color */
  .input-field input[type=email].invalid {
  border-bottom: 2px solid orange!important;
  box-shadow: 0 1px 0 0 #001f1f!important;
  }

/* label underline focus color */
.input-field input[type=number]:focus {
  border-bottom: 1px solid #001f1f!important;
  box-shadow: 0 1px 0 0 #001f1f!important;
  }
  /* valid color */
  .input-field input[type=number].valid {
  border-bottom: 1px solid #001f1f!important;
  box-shadow: 0 1px 0 0 #001f1f!important;
  }
  /* invalid color */
  .input-field input[type=number].invalid {
  border-bottom: 2px solid orange!important;
  box-shadow: 0 1px 0 0 #001f1f!important;
  }

/* icon prefix focus color */
.input-field .prefix.active {
color:#001f1f!important;
}

.sidenav{
background-color:#001f1f!important;
}

.nav-wrapper{
background-color:#001f1f!important;
}

.page-footer{
background-color:#001f1f !important;
}

.datepicker-date-display {
background-color: black !important;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
color:#001f1f !important;
}

.datepicker-table td.is-today {
color: #001f1f !important;
}

.datepicker-table td.is-selected {
background-color: #001f1f !important;
color: whitesmoke!important;
}

blockquote {
    border-left: 5px solid #001f1f !important;
}

div.odon{
  font-size: 21px !important;
}

#titulo{
  background-color: black;
  color: whitesmoke;
  height: 60px;
  margin:0px!important;
}