body {
		color: #000305;
		font-size: 87.5%;
		font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		line-height: 1.429;
		margin: 0;
		padding: 0;
		text-align: left;
	}

/* Encabezados */
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
}

/* Hipervínculos */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
	color: rgb(51, 153, 204);
	padding: 0 1px;
	text-decoration: underline;
}

/* Párrafos */
p {margin-bottom: 1.143em;}
* p:last-child {margin-bottom: 0;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}


/* Listas */
ul {
	list-style: outside disc;
	margin: 1em 0 1.5em 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 1em 0 1.5em 1.5em;
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

/* Texto entre comillas */
blockquote {font-style: italic;}
cite {}

q {}

/* Tablas */
table {margin: .5em auto 1.5em auto; width: 98%;}

	/* Thead */
	thead th {padding: .5em .4em; text-align: left;}
	thead td {}

	/* Tbody */
	tbody td {padding: .5em .4em;}
	tbody th {}

	tbody .alt td {}
	tbody .alt th {}

	/* Tfoot */
	tfoot th {}
	tfoot td {}

/* Tags de HTML5*/
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/***** Estructura General *****/
.body {clear: both; margin: 0 auto; width: 800px;}
img.right figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: right; margin: 0 0 2em 2em;}

/*
	Encabezado
*****************/
#banner {
	margin: 0 auto;
	padding: 2.5em 0 0 0;
}

	/* Banner */
	#banner h1 {font-size: 3.571em; line-height: .6;}
	#banner h1 a:link, #banner h1 a:visited {
		display: block;
		font-weight: bold;
		margin: 0 0 .6em .2em;
		text-decoration: none;
		width: 465px;
	}
	#banner h1 a:hover, #banner h1 a:active {
		text-shadow: none;
	}

	#banner h1 strong {font-size: 0.36em; font-weight: normal;}

	/* Nav Principal*/
	#banner nav {
		background: hsl(0, 0%, 21%);
		font-size: 1.143em;
		height: 40px;
		line-height: 30px;
		margin: 0 auto 2em auto;
		padding: 0;
		text-align: center;
		width: 800px;
		border-radius: 5px 25px;/*borde de radio de 5px ya que no hay compatibilidad*/
		-moz-border-radius: 5px 25px; /*para mozilla*/
		-webkit-border-radius: 5px 25px;/*para safari*/
	}

	#banner nav ul {list-style: none; margin: 0 auto; width: 800px;}
	#banner nav li {float: left; display: inline; margin: 0;}

	#banner nav a:link, #banner nav a:visited {
		color: #fff;
		display: inline-block;
		height: 30px;
		padding: 5px 1.5em;
		text-decoration: none;
	}
	#banner nav a:hover, #banner nav a:active{
		border-radius: 5px 25px;
		background: hsla(200, 60%, 50%, 0.65);
		text-shadow: none !important;
	}
	#banner nav .active a:link, #banner nav .active a:visited {
		border-radius: 5px 25px;
		background: #3399CC;
		text-shadow: none !important;
	}

/*
	Contenido Relacionado con el contenido principal
*****************/
#featured {
	background: url(../img/css3_html5_badges.png) right top no-repeat,
							url(../img/papel_doblado.jpg) left top repeat;
	background-size: 150px, 300px;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	width: 760px;
	border-radius: 5px 25px;
}

#featured h2 {font-size: 1.714em; margin-bottom: 0.333em;}
#featured h3 {font-size: 1.429em; margin-bottom: .5em;}

#featured h3 a:link, #featured h3 a:visited {text-decoration: none;}
#featured h3 a:hover, #featured h3 a:active {}

/*
	Cuerpo de la página <body>
*****************/
#content {
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px 20px;
	width: 760px;
}
#content .hentry{
	background: linear-gradient(white, lightblue, blue);/*Degradados llineales*/
}


/*
	Sección Extras
*****************/
#extras {margin: 0 auto 3em auto;} /* ; overflow: hidden;} se retira para colocar sombra en esta seccion*/
/*en #extras social*/
#extras ul {list-style: none; margin: 0;}
#extras li {}
#extras h2 {
	font-size: 1.429em;
	margin-bottom: .25em;
	padding: 0 3px;
}

#extras a:link, #extras a:visited {
	display: block;
	text-decoration: none;
	padding: .3em .25em;
}


#extras a:hover, #extras a:active {}

	/* Blogroll */
	#extras .blogroll {
		background: radial-gradient(lightblue,white,white);
		float: left;
		width: 615px;
	}

	#extras .blogroll li {float: left; margin: 0 20px 0 0; width: 185px;}

	/* if color of extras confuse with gradient in extras blogroll
	#extras .blogroll a:link, #extras .blogroll a:visited{
		color: blue;
	}*/

	/* Redes Sociales */
	#extras .social {
		box-shadow: 30px 30px ;
		float: right;
		width: 175px;
	}

/*
	Acerca de nosostros
*****************/
#about {
	font-style: normal;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	text-align: left;
	width: 760px;
}

#about .primary {/*Propiedades completas del box shadow*/
	box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.2);
	float: left; width: 165px;
}
#about .primary strong {display: block; font-size: 1.286em;}
#about .photo {float: left; margin: 5px 20px;}

#about .url:link, #about .url:visited {text-decoration: none;}

#about .bio {float: right; width: 500px;}

/*
	Pie de página
*****************/
#contentinfo {padding-bottom: 2em; text-align: right;}

/***** Secciones*****/
/* Blog */
.hentry {
	padding: 1.5em 0;
}
li:last-child .hentry, #content > .hentry {border: 0; margin: 0;}
#content > .hentry {padding: 1em 0;}

.entry-title {font-size: 1.429em; margin-bottom: 0;}
.entry-title a:link, .entry-title a:visited {text-decoration: none;}

.hentry .post-info * {font-style: normal;}

	/* Contenido */
	.hentry footer {margin-bottom: 2em;}
	.hentry footer address {display: inline;}
	#posts-list footer address {display: block;}

	/* Blog Index */
	#posts-list {list-style: none; margin: 0;}
	#posts-list .hentry {padding-left: 200px; position: relative;}

	/* Blog cambio de Fondo hover */

	#posts-list footer {
		left: 10px;
		position: absolute;
		top: 1.5em;
		width: 190px;
	}
