@media print{
  img{
      width: 100%;
  }
  h1{
    text-align: center;
  }
}

@media screen {
  h1{
    text-align: center;
  }
  h2{
    text-align: right;
  }
}

@media (max-width:250px){
  p{
    color: green;
  }
}
@media (min-width:421px) and (max-width:720px){
  p{
    color: blue;
  }
}
@media (min-width:721px) and (max-width:1000px){
  p{
    color: yellow;
  }
}
@media (min-width:1000px){
  p{
    color: purple;
  }
}
