.cubo {
  font-size: 2em;
  width: 6em;
  height: 6em;
  margin: 5em auto;
  transform-style: preserve-3d;
  perspective: 250px;
  perspective-origin: bottom left;
}

.side {
  position: absolute;
  width: 6em;
  height: 6em;

  background: rgba(255,0,0,0.3);
  border: 1px solid black;

  color: white;
  text-align: center;
  line-height: 6em;
}

.front  { transform:                  translateZ(3em); }
.top    { transform: rotateX( 90deg)  translateZ(3em); }
.right  { transform: rotateY( 90deg)  translateZ(3em); }
.left   { transform: rotateY(-90deg)  translateZ(3em); }
.bottom { transform: rotateX(-90deg)  translateZ(3em); }
.back   { transform: rotateY(-180deg) translateZ(3em); }
