div {
    border: 1px solid black;
}

#contenedor {
  margin-top: 100px;
  margin-left: 100px;
  width: 300px;
  height: 300px;
  perspective: 50px;
}


#transformado {
  margin-top: 10px;
  margin-left: 10px;
  width: 200px;
  height: 200px;
  background-color: orange;
  /*use trasnlateX, Y, y Z o translate*/
  transform: translate3d(-10px, 20px, 15px);

}
