body{
    background-color: black;
    }

div{
    margin: 50px auto;
    background:#b1060f;
    height:250px;
    width: 60px;
    position: relative;
}

div::before {
    background:#b1060f;
    height:250px;
    width: 60px;
    position: absolute;
    content: '';
    left:90px;
}

div::after {
    background:black;
    height:20px;
    width: 175px;
    position: absolute;
    content: '';
    left:-15px;
    bottom:-10px;
    border-radius: 50%;
}

span{
    position: absolute;
    height: 250px;
    width: 60px;
    background: #e50913;
    left:46px;
    transform: skew(20deg);
    box-shadow: 0 0 10px -4px black;


}