div {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
}

#original {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 100px;
}

#transformado {
  transform: rotate(-45deg);
}
