html
  include includes/head.pug
  body
    include includes/header.pug
    .container
      h1.bd-title!= message
      p.bd-lead Node.js es un entorno en tiempo de ejecución, multiplataforma. Esta especializado en I/O (entrada/salida) en una arquitectura orientada a eventos, asíncrono y creado con el motor de Javascript V8, de Chrome, nos permite desarrollar aplicaciones de servidor utilizando ECMAScript, por lo que no necesitamos de un navegador web para ejecutar dicho código. Extendido y utilizado en muchísimos proyectos, debido a su versatilidad, gran comunidad y cantidad de paquetes desarrollados por terceros, que se pueden utilizar en nuestro desarrollo, se está convirtiendo en una de las plataformas más extendidas y utilizadas en el mundo web, pero no solo se utiliza para el desarrollo web (back o front), si no que también es utilizado para temas de IOT, y demás.

    include includes/footer.pug