body {
  font-size: 3em;
  font-family: helvetica;
}
div [class*="bloque"]{
  min-height: 100px;
  flex : 1 2 40%;
}
.bloque1 {
  color: #ddd;
  background-color: #FF0000;
  order: 1;
}
.bloque2 {
  color: #333;
  background-color: #00FF99;
  order: 2;
flex-grow: 2;
}
.bloque3 {
  color: #333;
  background-color: #00FFFF;
  order: 3;
}
.bloque4 {
  color: #333;
  background-color: #FFFF00;
  order: 4;
}
.bloque5 {
  color: #ddd;
  background-color: #000000;
  order: 5;
}
.bloque6 {
  color: #333;
  background-color: #0Fd000;
  order: 6;
}
.bloque7 {
  color: #ddd;
  background-color: #0000F0;
  order: 7;
}
.contenedor{
  display: flex;
  flex-flow: row wrap;
}
