.cuerpo{
  margin-left: 10em;
  margin-right: 10em;
}
.texto{
  font-size: 1.9em;
  font-family: helvetica;
}
.imagen{
  margin-left: auto;
  margin-right: auto;
  width:100%;
}

@media (max-width: 1336px) {
  .cuerpo{
    margin-left: 5em;
    margin-right: 5em;
  }
  .texto{

    font-size: 1.6em;
    font-family: helvetica;
  }
  .imagen{
    margin-left: auto;
    margin-right: auto;
    width:100%;
  }
}

@media (max-width: 1000px) {
  .cuerpo{
    margin-left: 5em;
    margin-right: 5em;
  }
  .texto{
    font-size: 1.3em;
    font-family: helvetica;
  }
  .imagen{
    margin-left: auto;
    margin-right: auto;
    width: 100;
  }
}

@media (max-width: 700px) {
  .cuerpo{
    margin-left: 5em;
    margin-right: 5em;
  }
  .texto{
    font-size: 1em;
    font-family: helvetica;
  }
  .imagen{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
