@font-face {
	font-family: FuenteLato;
	src: url(../fuentes/Lato-Regular.ttf);
}

body{
	margin: 20px;
	font-family: Lora;
}

.resaltado{
	background-color: yellow;
	color: black;
}

#menu-principal{
	padding: 10px 0px;
	font-style: italic;
	font-variant: small-caps;
	font-family: : FuenteLato;
}

footer{
  font:normal small-caps normal 16px/1.4 Georgia;
	border-top: solid 1px black;
	padding-top: 10px;
	text-align: center;
}

h1.titulo{
	background-color: aliceblue;
	text-align: center;
	padding: 10px;
}

li::selection{
	background: darkblue;
	color:black;
	text-shadow: 2px 2px #fff;
}
