body {
	font-family: Arial;
	width: 90%;
	margin-left: 5%;
}

header {
	padding: 1vh 1vw;
	margin-bottom: 1vh;
	border-radius: 1vh;
	background-color: #669999;
}

#contenido {
	margin: 1%;
}

header h1 {
	padding-left: 1%;
	font-size: 1.5em;
}

footer {
	font-size: 0.8em;
	border-top: solid 2px #1f47a8;
	padding-top: 1vw;
	margin-top: 1vw;
	text-align: center;
}

figure {
	text-align: center;
	margin: 100px;
}

figure img {
	width: 420px;
}

#imagen1 img{
	transition-property: border;
	transition-duration: 0.5s;
}

#imagen1 img:hover{
	border: solid 50px black;
}

#imagen2 img{
	opacity: 0;
	transition: opacity 0.5s;
}

#imagen2 img:hover{
	opacity: 1;
}

#imagen3 img{
	transition-property: width;
	transition-duration: 0.5s;
}

#imagen3 img:hover{
	width: 60%;
}
