div {
    width: 300px;
    height: 100px;
    background-color: purple;
    border: 1px solid black;
    margin-left: 100px;
    color: white;
}

div#original {
  margin-top: 60px;
  margin-bottom: 90px;
}

div#transformado {
  /*Skew X y skew*/
    transform: skewY(-25deg);
}
