#container{
width: 80%;
margin: 0 auto;
border: 2px solid black;
background-color: orange;
text-align: center;
}

.cajas1, .cajas2{
display: inline-block;
width: 30%;margin: 10vh;
height: 32vh;
border: 1px solid black;
background: #5810E8;
}
